[submodule "tools/kb_aliases_cleaner"]
	path = tools/kb_aliases_cleaner
	url = ../kb_aliases_cleaner.git
[submodule "kb_resources/kb_cs_wikipedia"]
	path = kb_resources/kb_cs_wikipedia
	url = ../entity_kb_czech3.git
[submodule "kb_resources/kb_all_wikidata"]
	path = kb_resources/kb_all_wikidata
	url = ../kb_all_wikidata.git
